<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.group.books.repos.CommunityDAO">
 	
 	<select id = "getCommunityList" parameterType="communityVO" resultType="communityVO">
 	
 	   SELECT C.COMMUNITY_ID, C.CATEGORY, B.BOOK_NAME, C.TITLE, M.ID, TO_CHAR(C.REGDATE, 'YYYY.MM.DD HH24:MI')AS REGDATE, C.HIT
	   FROM COMMUNITY C
	   JOIN MEMBER M
	   ON C.MEMBER_ID=M.MEMBER_ID
	   JOIN BOOKS B
	   ON C.BOOK_ID=B.BOOK_ID
 	</select>

    <select id="getOneCommunity" resultType="commentsVO" parameterType="communityVO">
        SELECT C.*, B.BOOK_NAME FROM COMMUNITY C, BOOKS B

    	WHERE C.BOOK_ID = B.BOOK_ID

    	AND C.COMMUNITY_ID = #{community_id}
    </select>


    <update id = "updateCommunityHit" parameterType="CommunityVO">
	UPDATE COMMUNITY
    SET HIT = HIT + 1
    WHERE COMMUNITY_ID = #{community_id}
    </update>
    	
 </mapper>
 
