<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.group.books.repos.InsertCommunityDAO">
 <!-- 커뮤니티 글 작성 -->
     <insert id="insertCommunity" parameterType="CommunityVO">
    	INSERT INTO COMMUNITY(
    				COMMUNITY_ID, 
    				CATEGORY,
    				TITLE, 
    				CONTENT,
    				SCORE,
    				REVIEW,
    				REGDATE,
    				MEMBER_ID,
    				BOOK_ID
    				
    				
    	) values(
    				SEQ.NEXTVAL+53,
    				#{category},
    				#{title},
    				#{content},
    				#{score},
    				#{review},
    				SYSDATE,
    				#{member_id},
    				#{book_id}
    	)
 	
</insert>
</mapper>